
body{
    font-family: 'Roboto Slab', serif;
}

.bg-yellow{
    background-color: #FFC017; 
    
}

.border-bottom-1-dark{
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}

.aside-buttons >li{

    margin-bottom: 10px;
}